{% extends 'base.html' %}

{% block title %}
ReleCloud - {{ cruise }}
{% endblock %}

{% block content %}
<h1>{{ cruise }}</h1>
<p>
{{ cruise.description }}
</p>
<p>You can explore {{ cruise }} on the following cruises:</p>
<ul class="list-group">
    {% for destination in cruise.destinations.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'destination_detail' destination.id %}">{{ destination }}</a>
    {% endfor %}
</ul>

<h2>Opiniones</h2>

<p>
  Valoración media: {{ cruise.average_rating|floatformat:1 }} / 5
  ({{ cruise.reviews_count }} opiniones)
</p>

<p>
  <a href="{% url 'cruise_review' cruise.pk %}">
    Escribir una opinión
  </a>
</p>

<ul>
  {% for review in reviews %}
    <li>
      {{ review.rating }} / 5<br>
      {{ review.comment|linebreaks }}<br>
      <small>{{ review.created_at|date:"d/m/Y H:i" }}</small>
    </li>
  {% empty %}
    <li>Aún no hay opiniones.</li>
  {% endfor %}
</ul>



{% endblock content %}