{% extends 'base.html' %}

{% block title %}
ReleCloud - {{ destination }}
{% endblock %}

{% block content %}
<h1>{{ destination }}</h1>
<p>
{{ destination.description }}
</p>
<p>
    <a class="btn btn-primary" href="{% url 'destination_form' destination.pk %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'destination_confirm_delete' destination.pk %}">Delete</a>
</p>
<p>You can explore {{ destination }} on the following cruises:</p>
<ul class="list-group">
    {% for cruise in destination.cruises.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'cruise_detail' cruise.id %}">{{ cruise }}</a>
    {% endfor %}
</ul>


<h2>Opiniones</h2>

<p>
  Valoración media: {{ destination.average_rating|floatformat:1 }} / 5
  ({{ destination.reviews_count }} opiniones)
</p>

<p>
  <a href="{% url 'destination_review' destination.pk %}">
    Escribir una opinión
  </a>
</p>

<ul>
  {% for review in reviews %}
    <li>
      {{ review.rating }} / 5<br>
      {{ review.comment|linebreaks }}<br>
      <small>{{ review.created_at|date:"d/m/Y H:i" }}</small>
    </li>
  {% empty %}
    <li>Aún no hay opiniones.</li>
  {% endfor %}
</ul>


{% endblock content %}